
@page {

    /* 20.5cm 14cm <length>{1,2} | auto | portrait | landscape */
    /* 'em' 'ex' and % are not allowed; length values are width height */
    /*margin: 20%;  <any of the usual CSS values for margins> */
    vertical-align: top;
    margin-top: 0.5cm; /* <any of the usual CSS values for margins> */
    margin-left: 0.3cm; /* <any of the usual CSS values for margins> */
    margin-right: 0.3cm; /* <any of the usual CSS values for margins> */
    margin-bottom: 0.5cm; /* <any of the usual CSS values for margins> */
    /* For half of A*/
    /* background-color: rgba(241, 187, 187, 0.7);
    (% of page-box width for LR, of height for TB) */
    margin-header: 0; /* <any of the usual CSS values for margins> */
    margin-footer: 0; /* <any of the usual CSS values for margins> */
    marks: none;/*crop | cross | none*/
    /*
    background: ...
    background-image: ...
    background-position ...
    background-repeat ...
    background-color ...
    background-gradient: ...

     */
}

body{
    font-family: bengali_englisg, sans-serif;
}



.price-box{
    border: 2px solid #c33b32;
    padding: 5px;
    border-radius: 50px 20px; text-align: center;
    color: black;
    font-size: large;
    text-align: center;
    width: 100%;
}

/* Dashed red border */
.hr2 {
    border-top: 1px dashed #1b1464;
}

/* Dotted red border */
.hr3 {
    border-top: 1px dotted #c33b32;
}

/* Thick red border */
.hr4 {
    border: 1px solid #c33b32;
}

/* Large rounded green border */
.hr5 {
    border: 10px solid green;
    border-radius: 5px;
}

.brand1{
    background-color: #1b1464;
}

.brand2{
    background-color: #c33b32;
}

.brand3{
    background-color: #f7aa28;
}
